body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #222326;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo img {
    max-height: 100px;
}

.navmenu {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.navmenu li a {
    color: #9ba2a2;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navmenu li a:hover {
    color: #ffffff;
}